.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    touch-action: pan-x pan-y;
    /*margin-top: 50px;*/
    width: 100%;
}

.item {
    /*margin-right: 10px ;*/
    /*margin-bottom: 10px;*/
    margin: auto;
}