.bigproductitembtn {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    /*border: none;*/
    /*outline: none;*/
    /*cursor: pointer;*/
    /*width: 100%;*/
    /*height: 50%;*/
    /*font-size: 1em;*/
    /*position: sticky;*/
    /*bottom: 0;*/
    width: 100%; /*Занимает всю ширину экрана*/
    max-width: 300px; /*Максимальная ширина в зависимости от ширины экрана*/
    padding: 10px;
    font-size: 18px;
    margin-top: auto; /* Прижатие к низу экрана */
}

/*/////////////////////////////////////*/

.carouselitembtn {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 50%;
}



