
.bigproductitembtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2%;
    order: 1;
    font-size: 120%;
    font-weight: 100;
    width: 90%;
    margin-bottom: 5% ;
}

.bigproductitembtn .containerBtn {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    flex: 1 ;
    background: rgb(238, 238, 238);
    border-radius: 8px;
}

.bigproductitembtn .btn {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    box-shadow: none;
    color: rgb(0, 0, 0);
    margin: 5px;
    background-color: rgba(0,0,0,0)
}

.bigproductitembtn .btn:first-child {
    position: static;
    order: 0;
}

.bigproductitembtn .btn:last-child {
    position: static;
    order: 2;
}

.bigproductitembtn .number {
    position: static;
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    order: 1;
    flex-grow: 0;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0;
    /*text-align: left;*/
}
.containerBasketButton {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.basketButton {
    height: 100%;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    order: 3;
    border-radius: 0.5rem;
    border: 0;
    background: rgb(58, 131, 241);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.19rem;
    letter-spacing: 0;
    text-align: center;
}

/*/////////////////////////*/

.basketitembtn {
    display: flex; /* элементы горизонтально в ряд */
    flex-direction: row;
    border-radius: 8px;
    justify-content: center;
    background-color: #f2f2f2;/* серый фон для всего компонента */
    /*padding: 10px;            !* отступы внутри компонента *!*/
    box-sizing: border-box;   /* учитываем padding и border в ширине и высоте элементов */
    width: fit-content;       /* ширина в соответствии с содержимым */
    gap: 10px;                /* промежуток между элементами */
}

.basketitembtn .containerBtn{
    display: flex;           /* элементы горизонтально в ряд */
    gap: 10px;               /* промежуток между кнопками */
    flex-shrink: 0;          /* предотвращаем сжатие контейнера с кнопками */
}

.basketitembtn .btn {
    align-items: center;
    /*padding: 5px 15px;       !* внутренние отступы *!*/
    border: 0;
    background-color: rgba(0,0,0,0);  /* цвет кнопок */
    color: black;
    cursor: pointer;         /* указатель курсора */
    flex-shrink: 0;          /* предотвращаем сжатие */
    min-width: 40px;         /* минимальная ширина */
    font-size: 1.5rem;
    justify-content: center;
}

.basketitembtn .btn:active {
    transform: scale(0.9);
    outline: none;
    box-shadow: none;
}

.basketitembtn .btn:disabled {
    background-color: #bbb8b8;
    border-radius: 8px 0 0 8px;
}

.basketitembtn .btn:first-child {
}
.basketitembtn .btn:last-child {
}

.basketitembtn .number {
    padding: 0;      /* внутренние отступы для числа */
    border: 0;
    background: none;
    min-width: 10px;        /* минимальная ширина */
    text-align: center;     /* текст по центру */
    flex-shrink: 0;         /* предотвращаем сжатие текста */
}

/**!///////////////////////////*/
.productlistitembtn {
    /* Button */
    width: 85%;
    height: 32px;
     /*Автолейаут */
    justify-content: space-between;
    align-items: center;
    padding: 6px 8px 6px 8px;
    border: 0;
    font-size: 120%;
    font-weight: 100;
    margin: auto auto 8px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
}

.productlistitembtn .containerBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: none;
}

.productlistitembtn .btn {
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    box-shadow: none;
    color: rgb(0, 0, 0);
    margin: auto;
}

.productlistitembtn .btn:first-child {
    position: static;
    width: 20px;
    height: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0 10px;
}

.productlistitembtn .btn:last-child {
    position: static;
    width: 20px;
    height: 20px;
    /* Inside Auto Layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0 10px;
}

.productlistitembtn .number {
    /* Удали свойства и добавь: */

    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0;
    order: 2;
    margin: 0;
    height: 100%;
    font-size: 90%;
    font-weight: 150;
    box-shadow: none;
}

/*///////////////////*/
.disabled {
    pointer-events: none;
}

