.bigproductitembtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30%;
    position: sticky;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0)  /*var(--tg-theme-bg-color)*/;
    /*margin-bottom: 1em;*/
    padding: 10px;
    /*margin-top: auto; !* Прижатие к низу экрана *!*/
    margin-left: auto;
}

.bigproductitembtn .buttoncontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.bigproductitembtn .btn {
    padding: unset;
    /*border-color: var(--tg-theme-button-color);*/
    border-radius: 10px;
    border: none;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    cursor: pointer;
    width: 50%;
    height: 50%;
    flex-basis: auto;
    font-size: 30px;
    transition: transform 0.3s ease;
    -webkit-tap-highlight-color: transparent;
}

.bigproductitembtn .btn:active {
    transform: scale(0.9);
    outline: none;
    box-shadow: none;
}

.bigproductitembtn .btn:first-child {
    margin-right: 10px; /* Отступ справа для первой кнопки */
}

.bigproductitembtn .btn:last-child {
    margin-left: 10px; /* Отступ слева для второй кнопки */
}

.bigproductitembtn .number {
    padding: 10px;
    font-size: 16px;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    .bigproductitembtn .number {
        padding-inline: 10px;
        font-size: 16px;
        color: #ffffff;
        align-items: center;
    }
}

/*/////////////////////////*/

.basketitembtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30%;
    position: sticky;
    bottom: 0;
    right: 0;
    background-color: #ffffff;;
    /*margin-bottom: 1em;*/
    padding: 10px;
    margin-top: auto; /* Прижатие к низу экрана */
    margin-left: 0;
    float: right;
}


@media (prefers-color-scheme: dark) {
    .basketitembtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 30%;
        position: sticky;
        bottom: 0;
        right: 0;
        background: #212121;
        /*margin-bottom: 1em;*/
        padding: 10px;
        margin-top: auto; /* Прижатие к низу экрана */
        margin-left: 0;
        float: right;
    }
}

.basketitembtn .buttoncontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.basketitembtn .btn {
    padding: unset ;
    /*border-color: var(--tg-theme-button-color);*/
    border: none;
    border-radius: 10px;
    box-shadow: none;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    cursor: pointer;
    width: 50%;
    height: 50%;
    flex-basis: auto;
    font-size: 30px;
    transition: transform 0.3s ease;
    -webkit-tap-highlight-color: transparent;
}

.basketitembtn .btn:active .btn:focus{
    transform: scale(0.9);
    outline: none;
    box-shadow: none;

}

.basketitembtn .btn:first-child {
    margin-right: 10px; /* Отступ справа для первой кнопки */
}

.basketitembtn .btn:last-child {
    margin-left: 10px; /* Отступ слева для второй кнопки */
}

.basketitembtn .number {
    padding-inline: 10px;
    font-size: 16px;
}

@media (prefers-color-scheme: dark) {
    .basketitembtn .number {
        padding-inline: 10px;
        font-size: 16px;
        color: #ffffff;
    }
}

/*///////////////////*/
.disabled {
    pointer-events: none;
}

