.box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    touch-action: pan-x pan-y;
    align-items: center;
    background-color: #ffffff;
    height: 100vh;
}
@media (prefers-color-scheme: dark) {
    .box {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        touch-action: pan-x pan-y;
        align-items: center;
        background-color: #000000;
        height: 100vh;
    }
}

.input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}

.input {
    appearance: none;       /* отключаем стандартное оформление */
    background: none;       /* фон делаем прозрачным */
    border: 1px solid;      /* тонкая граница */
    width: 95%;             /* ширина 95% от родительского контейнера */
    padding: 10px;          /* внутренний отступ */
    margin-top: 15px;       /* отступ сверху */
    font-size: 110%;         /* размер шрифта, пиксели дают больше контроля */
    height: 8%;
    line-height: 1.5;       /* межстрочный интервал */
    color: inherit;         /* цвет текста наследуется от родителя */
    border-radius: 4px;     /* скругление углов */
    box-sizing: border-box; /* границы и padding входят в ширину и высоту */
    outline: none;
    /* Цвет границы и placeholder по умолчанию (для светлой темы) */
    border-color: #ccc;          /* цвет границы */
    --placeholder-color: #aaa;   /* переменная цвета placeholder */

    /* Цвет placeholder */
    &::placeholder {
        color: var(--placeholder-color);
    }

    /* Адаптация под темную тему (если в ОС установлена темная тема) */
    @media (prefers-color-scheme: dark) {
        background: #333;               /* темный фон */
        border-color: #555;             /* темный цвет границы */
        color: #ddd;                    /* светлый цвет текста */
        --placeholder-color: #777;      /* светлый цвет placeholder */
    }
}

.select {
    padding: 10px;
    margin-top: 15px;
}
