.basketButton {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    border-radius: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20%;
    /*margin: 20px;*/
    margin-left: auto;
    margin-bottom: 20px;
    font-size: 18px;
}