/* DeleteButton.module.css */
.delButton {
    position: absolute; /* Позиционирование относительно basketitem */
    top: 1px; /* Отступ сверху */
    right: 1px; /* Отступ справа */
    /* добавьте дополнительные стили, если нужно */
    z-index: 1000;
}

.delButton button {
    /* Стили кнопки, которую мы превращаем в крестик */
    width: 25px; /* Размер вашей кнопки */
    height: 25px; /* Размер вашей кнопки */
    border: none;
    background: transparent;
    cursor: pointer;
}

/* Стили для псевдоэлементов, создающих крестик */
.delButton button::before,
.delButton button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px; /* Длина крестика */
    height: 2px; /* Толщина крестика */

    transform: translate(-50%, -50%) rotate(45deg);
}

.delButton button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}