.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%; /* В зависимости от вашего дизайна выберите подходящую ширину */
}

.modal-close-button {
    background-color: #f0f0f0;
    color: #333;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.modal-close-button:hover {
    background-color: #ddd;
}

/* Медиа-запросы для адаптивного поведения */

@media screen and (max-width: 767px) {
    .modal-content {
        max-width: 90%; /* Изменение максимальной ширины для более маленьких экранов */
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    .modal-content {
        max-width: 85%; /* Изменение максимальной ширины для очень маленьких экранов */
        padding: 8px;
    }

    .modal-close-button {
        font-size: 12px; /* Изменение размера шрифта для очень маленьких экранов */
    }
}
