.bigproductitem {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /*Располагаем компонент Counter внизу справа*/
    min-height: 100vh; /*Минимальная высота равная высоте экрана, чтобы контент не скролился*/
    padding: 20px; /*Отступы вокруг контента*/
}

.bigproductitem h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.bigproductitem h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.bigproductitem p {
    margin-bottom: 20px;
}

.bigproductitem > *:not(:last-child) {
    margin-bottom: 10px; /*Добавляем отступ между элементами контента*/
}
