.container {
    min-height: 100vh; /* Бокс родительского элемента займет всю высоту экрана */
    display: flex;
    flex-direction: column; /* Компоненты расположатся вертикально */
    max-width: 1200px; /* Ограничение максимальной ширины контента для больших экранов */
    margin: 0 auto; /* Выравнивание контента по центру */
}

.sliderContainer {
    width: 100%; /* Slider будет растянут на всю ширину экрана */
}

.slider {
    width: 100%;
    height: 0;
    padding-bottom: 50%; /* Slider будет сохранять пропорции для 16:9 соотношения сторон */
}

.bigproductitem {
    flex-grow: 1; /* BigProductItem займет все свободное пространство по вертикали */
    padding: 20px;
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: flex-start; /* Выравнивание текстовой части слева */
}

h1, h2, p {
    margin: 10px 0; /* Отступы сверху и снизу для заголовков и параграфов */
    padding-left: 20px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
}


