.carousel {
    position: relative;
    /*overflow: hidden;*/
}

.carousel img {
    transition: transform 0.5s ease-in-out;
}

.prev-slide {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
}

.current-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.next-slide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

.carousel img.prev-slide,
.carousel img.next-slide {
    transition: transform 0.5s ease-in-out;
}

.carousel img.prev-slide {
    transform: translateX(-100%);
}

.carousel img.next-slide {
    transform: translateX(100%);
}
