.carousel {
    position: relative;
    /*overflow: hidden;*/
    width: 100%;
    height: 100%;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.carouse-swipe-area-left,
.carouse-swipe-area-right {
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    z-index: 10;
    background-color: transparent;
}

.carouse-swipe-area-left {
    left: 0;
}

.carouse-swipe-area-right {
    right: 0;
}

.current-slide {
    transform: translateX(0%);
}

.next-slide {
    transform: translateX(100%);
}

.prev-slide {
    transform: translateX(-100%);
}