.input {
    appearance: textfield;
    width: 100%;
    /*padding: 10px;*/
    /*margin-top: 15px;*/
}

.form {
    /*display: flex;*/
    /*position: fixed;*/
    /*top: 0;*/
    flex-direction: column;
    width: 100%;
    padding: 10px;
    touch-action: pan-x pan-y;
}