
/* corrected .form styles */
.form {
    position: sticky;
    top: 0;
    width: 95%;
    padding: 10px 8px 15px;
    margin-left: auto;
    margin-right: auto;

    touch-action: pan-x pan-y;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

/* corrected .input styles */
.input {
    appearance: none;
    border: 1px solid #ccc;
    width: 98%;
    padding: 10px;
    font-size: 16px; /* standard base font size for better control */
    color: inherit;
    border-radius: 4px;
    box-sizing: border-box;


    /* Default (light theme) placeholder color */
    --placeholder-color: #aaa;
}

/* Placeholder style */
.input::placeholder {
    color: var(--placeholder-color);
}

/* Dark theme adaptation */
/*@media (prefers-color-scheme: dark) {*/
/*    .input {*/
/*        background-color: #333;*/
/*        border-color: #555;*/
/*        color: #ddd;*/
/*        --placeholder-color: #777;*/
/*    }*/
/*}*/

/* Focus state for .input */
.input:focus {
    outline: none;
}
