.input {
    appearance: textfield;
    width: 100%;
    padding: 1px;
    height: 50px;
    justify-content: center;
    font-size: 5%;
    /*margin-top: 15px;*/
}

.form {
    /*display: flex;*/
    position: sticky;
    top: 0;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5px;
    /*height: 50px;*/
    touch-action: pan-x pan-y;
}