
.productlistitem {
    display: flex;
    flex-direction: column;
    width: 170px;
    margin-right: 0.5em ;
    margin-left: 0.5em ;
    margin-bottom: 15px;
    overflow: hidden;
    transition: transform 0.2s ease;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 7px 7px 20px #bebebe /*,
    -5px -5px 15px #ffffff;*/
}

@media (prefers-color-scheme: dark) {
    .productlistitem {
        display: flex;
        flex-direction: column;
        width: 170px;
        margin-right: 0.5em;
        margin-left: 0.5em;
        margin-bottom: 15px;
        overflow: hidden;
        transition: transform 0.2s ease;
        border-radius: 10px;
        background: #212121;
        box-shadow: 7px 7px 20px rgb(25, 25, 25) /*,
        -7px -7px 20px rgb(60, 60, 60);*/
    }
}


.productlistitem:active{
    transform: scale(0.95);
}

.productlistitem .img {
    width: 100%;
    padding-bottom: 133%;
    background: lightgrey;
    margin: 0 auto;
    border-radius: 10px;
    /*background: var(--tg-theme-button-color);*/
    /*object-fit: cover;*/
    /*width: 50%; !* Или используйте фиксированный размер, например width: 300px; *!*/
    height: auto;
    object-fit: contain; /* Это гарантирует, что изображение не будет искажено */
}

.productlistitem .price {
    margin-top: 10px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.productlistitem .title {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.productlistitem .container {
    overflow: hidden;
}

.productlistitem .annotation {

}

.productlistitem .description {
    font-size: 0.8em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 100%;
    padding-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

