* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f1f1; /*var(--tg-theme-secondary-bg-color, #ebedf0)*/
  color: #000000;
  font-family: Roboto,sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000000 ; /*var(--tg-theme-secondary-bg-color, #ebedf0)*/ /*var(--tg-theme-bg-color)*/
    color: #ffffff; /*var(--tg-theme-text-color)*/
    font-family: Roboto,sans-serif;
  }
}

/* Скрыть скроллбар когда он не активен и сделать его видимым при скроллинге */
html {
  scrollbar-width: thin; /* Для Firefox */
  scrollbar-color: rgba(68, 68, 68, 0.7) transparent; /* Ползунок и трек для Firefox */
}

/* Стили для Webkit-браузеров */
body::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* Если нужно изменить высоту горизонтального скроллбара */
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(68, 68, 68, 0.7);
  border-radius: 4px;
  border: none; /* Если вы хотите убрать границы у ползунка */
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(68, 68, 68, 0.7);
}

body::-webkit-scrollbar-button {
  display: none; /* Скрыть стрелки управления для Webkit-браузеров */
}

