* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--tg-theme-bg-color) ; /*var(--tg-theme-secondary-bg-color, #ebedf0)*/
  color: var(--tg-theme-text-color);
  font-family: Roboto,sans-serif;
}