.carousel {
    position: relative;
    /*overflow: hidden;*/
    width: 100%;
    /*height: 100%;*/
    /*object-fit: contain; !*Сохраняем пропорции изображения*!*/
    border-radius: 0 0 8px 8px;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.carouseswipearealeft,
.carouseswipearearight {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 10;
    background-color: transparent;
}

.carouseswipearealeft {
    left: 0;
}

.carouseswipearearight {
    right: 0;
}

.currentslide {
    transform: translateX(0%);
}

.nextslide {
    transform: translateX(100%);
}

.prevslide {
    transform: translateX(-100%);
}

.indicators {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c4c4c4;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: #000;
}
