.basketItem {
    display: flex; /* Используем flexbox для удобного расположения элементов */
    align-items: start; /* Вертикально выравниваем содержимое по центру */
    width: 95%; /* Ширина компонента 95% от родительского элемента */
    height: 170px; /* Фиксированная высота для всего компонента, можно изменить на нужное значение */
    position: relative; /* Относительное позиционирование для размещения DeleteButton */
    margin: auto auto 10px;
    padding-bottom: 10px;
    border-bottom: 0.12rem solid rgb(221, 223, 227);
}

.productImage {
    height: 100%; /* Высота изображения равна высоте родительского элемента */
    width: 70%; /* Ширина изображения автоматически подстраивается под высоту */
    object-fit: contain; /* Сохранение пропорций изображения при изменении размеров */
    border-radius: 8px;
    background-color: green;
}

.productInfo {
    display: flex;
    width: 130%;
    flex-grow: 1;
    flex-direction: column;
    height: 100%
}

.productTitleContainer {
    height: 100%;
    width: 80%; /* Ширина области с информацией растягивается */
    padding: 10px; /* Отступы справа и слева, чтобы текст не касался краев */
    display: flex; /* Используем flexbox для организации внутреннего содержания */
    flex-direction: column; /* Расположение дочерних элементов в колонку */

}

.productTitle {
    font-size: 100%; /* Адекватный размер шрифта для названия */
    font-weight: bold; /* Заголовок товара жирным */
    margin: 0 0 0.5em;
    text-align: left; /* Выравнивание текста по левому краю */
    overflow: hidden;
    white-space: normal; /* Перенос текста на другую строку */
    text-overflow: ellipsis; /* Добавляем многоточие в конце обрезанного текста */
    padding: 0;
}

.productBottomContainer {
    margin-top: auto;
    /*padding-top: 0;*/
    display: flex;
    align-items: center;
    flex-shrink: 0; /* Запрещаем "сжатие" контейнера при нехватке места */
    justify-content: space-between;
}

.totalItemPrice {
    margin-top: auto;
    margin-left: 20px;
    margin-bottom: 10px;
}

.deleteButton {
    position: absolute; /* Абсолютное позиционирование */
    top: 10px; /* Расстояние от верхнего края родительского элемента */
    right: 10px; /* Расстояние от правого края родительского элемента */
}

.counter {
    margin-left: auto;
    align-items: center;
}