
.basketitem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    transition: transform 0.2s ease;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 7px 7px 20px #bebebe; /*,
    -5px -5px 15px #ffffff;*/
    min-height: 150px;
}


@media (prefers-color-scheme: dark) {
    .basketitem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin: 10px;
        font-size: 16px;
        transition: transform 0.2s ease;
        border-radius: 10px;
        background: #212121;
        box-shadow: 7px 7px 20px rgb(25, 25, 25); /*,
        -7px -7px 20px rgb(60, 60, 60);*/
        min-height: 150px;
    }
}

/*.basketitem:active {*/
/*    transform: scale(0.97);*/
/*    outline: none;*/
/*    box-shadow: none;*/
/*}*/

.basketitem .img {
    background-color: #cccccc;
    border-radius: 5px;
    width: 150px; /* Или используйте фиксированный размер, например width: 300px; */
    height: auto;
    object-fit: contain; /* Это гарантирует, что изображение не будет искажено */
}

.basketitem p {
    /*width: 80%;*/
    margin: 0;
    font-size: 18px;
    box-sizing: content-box;
    display: inline-block;
}

.basketitem h3 {
    margin: 0;
    font-size: 25px;
    box-sizing: content-box;
    display: inline-block;
}

.basketitem .counter-wrapper {
    display: flex;
    align-items: center;
}
